<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>True Tune</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<main class="page-content">
    <nav class="content-navigation">
    </nav>
    <article class="content-article">

        <div class="artist-header">
            <div class="left-buttons">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            </div>
            <div class="right-buttons">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            </div>
            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" alt="Foo">
            <span class="artist-title">
            Asura
            </span>
        </div>
        <div class="sublime"></div>
        <div class="artist-albums-container grid-container">
            <div class="grid-item artist-info">
                <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" alt="Foo">
                <div class="artist-title">
                    Asura
                </div>
            </div>
        </div>
    </article>
    <aside class="content-sidebar">
    </aside>
</main>
</body>
</html>