<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>True Tune</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<main class="page-content">
    <nav class="content-navigation">
        <small>Playlists</small>
        <div class="playlist-item">Playlist 1</div>
        <div class="playlist-item">Playlist 1</div>
    </nav>
    <article class="content-article">
        <div class="artist-header">
            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" alt="Foo">
            <span class="artist-title">
            Asura
            </span>
        </div>
        <div class="sublime"></div>
        <div class="artist-albums-container grid-container">
            <div class="grid-item artist-info">
                <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" alt="Foo">
                <div class="artist-title">
                    Asura
                </div>
            </div>
        </div>
    </article>
    <aside class="content-sidebar">
        <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png"
             alt="">
        <div class="player">
            <div class="track-progress-container">
                <div class="track-progress" style="width: 33%"></div>
            </div>
            <div style="text-align: center">
                Real & True <br><small>0:35 - 3:45</small>
            </div>
            <div class="controls">
                <button class="">Prev</button>
                <button class="">Play</button>
                <button class="">Next</button>
            </div>
            <div class="volume-meter">
                <span>down</span>
                <input type="range">
                <span>up</span>
            </div>

        </div>
        <div class="player-list">
            <div class="player-item">1. Dreaming
                <small>3:45</small>
            </div>
            <div class="player-item active">2. Real & True
                <small>3:45</small>
            </div>
            <div class="player-item">3. Within My Heart
                <small>3:45</small>
            </div>
            <div class="player-item">4. More Than Yesterday
                <small>3:45</small>
            </div>
            <div class="player-item">5. Calling
                <small>3:45</small>
            </div>
        </div>
    </aside>
</main>
</body>
</html>