html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif; }

body {
  box-sizing: border-box;
  color: #fff;
  font-size: 80%; }

nav,
article,
aside {
  box-sizing: border-box;
  background-color: #262626;
  min-height: 100vh; }

nav,
aside {
  width: 285px;
  box-shadow: 0 0 48px -12px rgba(0, 0, 0, 0.75); }

main {
  display: flex; }

nav {
  z-index: 2; }

article {
  flex: 2 2 12em; }

img {
  width: 100%; }

.search-box {
  height: 40px; }

.search-tabs-box {
  height: 40px; }

.artist-search {
  width: 100%;
  max-width: 300px;
  height: 20px;
  margin: 10px;
  background-color: #191919;
  border: none;
  color: white; }

.results-box {
  background-color: #191919;
  min-height: calc(100vh - 80px);
  width: 100%; }

.search-tabs-box {
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-tabs-box div {
    color: grey;
    font-size: larger;
    line-height: 2.5;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    box-sizing: border-box; }
  .search-tabs-box div.active {
    background: linear-gradient(to top, #242324, transparent);
    border-bottom: solid red 2px;
    color: white; }
  .search-tabs-box div:hover {
    cursor: pointer;
    color: white; }

.results-box {
  padding-top: 0;
  width: 100%; }
  .results-box .cellCaption {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: large; }

.grid-container {
  padding-top: 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start; }
  .grid-container .grid-item {
    width: calc(20% - 30px);
    padding: 15px;
    position: relative; }
  @media screen and (max-width: 1500px) {
    .grid-container .grid-item {
      width: calc(25% - 20px);
      padding: 10px; } }
  @media screen and (max-width: 1250px) {
    .grid-container .grid-item {
      width: calc(33.33333% - 20px);
      padding: 10px; } }
  @media screen and (max-width: 1100px) {
    .grid-container .grid-item {
      width: calc(50% - 20px);
      padding: 10px; } }
  @media screen and (max-width: 900px) {
    .grid-container .grid-item {
      width: calc(100% - 20px);
      padding: 10px; } }
  .grid-container .grid-item-caption {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: large; }

.artist-header {
  position: relative; }
  .artist-header img {
    max-width: 180px; }
  .artist-header .artist-title {
    position: absolute;
    color: white;
    font-size: 36px;
    top: 0;
    padding: 20px;
    font-weight: 600; }

.track-item {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: solid 1px #8d8d7b;
  position: relative; }

.track-item:hover {
  background-color: #333333;
  cursor: hand; }

.track-number {
  margin-left: 25px;
  width: 30px;
  display: inline-block; }

.track-title {
  display: inline-block; }

.track-length {
  position: absolute;
  right: 15px; }

.player {
  height: 100px;
  background-color: #d32f2f; }

.player-item {
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  font-size: larger; }
  .player-item small {
    position: absolute;
    right: 15px; }
  .player-item:hover {
    background-color: #404040; }
  .player-item.active {
    background-color: #595959;
    border-left: 2px solid #d32f2f; }

.track-progress-container {
  height: 4px;
  position: relative; }
  .track-progress-container .track-progress {
    height: 4px;
    background-color: white; }

.track-progress-container:hover {
  cursor: hand; }

.controls,
.volume-meter {
  padding: 8px;
  display: flex;
  text-align: center; }
  .controls button, .controls span, .controls input,
  .volume-meter button,
  .volume-meter span,
  .volume-meter input {
    flex: 1; }

.playlist-item {
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  color: rgba(255, 255, 255, 0.87059);
  cursor: hand; }
  .playlist-item:hover {
    color: white; }

/*# sourceMappingURL=style.css.map */
