<html>

<head>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

<div id="app">
    <main class="page-content">
        <nav class="content-navigation">
            <h1>Navigation</h1>
        </nav>
        <article class="content-article">
            <div class="artist-header">
                <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" alt="">
                <span class="artist-title">
                Album
                </span>
            </div>
            <div class="album-list">
                <div class="track-item">
                    <span class="track-number">1</span>
                    <span class="track-title">Reflection (Deluxe)</span>
                    <span class="track-length">13:55</span>
                </div>
                <div class="track-item">
                    <span class="track-number">21</span>
                    <span class="track-title">All I Need</span>
                    <span class="track-length">3:55</span>
                </div>
            </div>
        </article>
        <aside class="content-sidebar">
            <h1>Sidebar</h1>
        </aside>
    </main>
</div>

</body>

</html>