<html>

<head>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

    <div id="app">
        <main class="page-content">
            <nav class="content-navigation">
                <h1>Navigation</h1>
            </nav>
            <article class="content-article">
                <div>
                    <div class="search-box">
                        <input type="text" class="artist-search" placeholder="Search music" />
                    </div>

                    <div class="search-tabs-box">
                        <div>ARTISTS</div>
                        <div class="active">ALBUMS</div>
                        <div>SONGS</div>
                    </div>

                    <div class="grid-container">
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                            <div class="cellCaption">Asura</div>
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                            <div class="cellCaption">Asura</div>
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                            <div class="cellCaption">Asura</div>
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                            <div class="cellCaption">Asura</div>
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                            <div class="cellCaption">Asura</div>
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                            <div class="cellCaption">Asura</div>
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                        </div>
                        <div class="grid-item">
                            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b3bba07ec5fe45b3a8b4f852d8cb118f.png" class="responsive-image" />
                        </div>
                    </div>
                </div>
            </article>
            <aside class="content-sidebar">
                <h1>Sidebar</h1>
            </aside>
        </main>
    </div>

</body>

</html>