@import "../../variables";

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 80%;
}

.application-body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-footer{
    background-color: $theme-background-color;
    height: 80px;
}

.page-content {
    display: flex;
}

.navigation,
.player-sidebar {
    min-height: calc(100vh - 80px);
    box-shadow: 0 0 38px -12px rgba(0, 0, 0, 0.75);
    width: $navigation-width;
}

.navigation {
    width: $navigation-width;
}

.player-sidebar {
    width: $player-width;
    overflow: auto;
}

.page {
    flex: 2 2 12em;
}

img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}
