$sidebars-width: 180px;
$background: #262626;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  box-sizing: border-box;
  color: #fff;
  font-size: 80%;
  height: 100vh;
}

#app,
main{
  height: 100%;
}

nav,
article,
aside {
  box-sizing: border-box;
  //padding: 1em;
  text-align: center;
  background-color: $background;
}
nav,
aside {
  width: $sidebars-width;
  box-shadow: 0 0 48px -12px rgba(0,0,0,0.75);
}

main {
  display: flex;
}

nav{
  z-index: 2;
}

article {
  flex: 2 2 12em;
}


/*Will be used for responsive later*/
/*@media screen and (max-width: 500px) {

    main {
        flex-direction: column;
    }

}*/