.dropdown-content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    overflow: auto;
    overflow-x: hidden;
}

.hidden{
    display: none;
}