$search-box-height: 40px;
$tabs-box-height: 40px;
$selected-tab-gradient-end: #242324;

$results-box-padding-top: 30px;

$title-color: #2E2E2E;
$title-height: 40px;

.search-box {
    height: $search-box-height;
}

.search-tabs-box {
    height: $tabs-box-height;
}

.artist-search {
    width: 100%;
    max-width: 300px;
    height: 20px;
    margin: 10px;
    background-color: #191919;
    border: none;
    color: white;
}

.results-box {
    background-color: #191919;
    min-height: 100px;
    height: calc(100vh - #{$search-box-height + $tabs-box-height + $results-box-padding-top});
    width: 100%;
}

.search-tabs-box {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        color: grey;
        font-size: larger;
        line-height: 2.5;
        padding-left: 20px;
        padding-right: 20px;
        height: $tabs-box-height;
        box-sizing: border-box;
    }

    div.active {
        background: linear-gradient(to top, $selected-tab-gradient-end, transparent);
        border-bottom: solid red 2px;
        color: white;
    }

    div:hover {
        cursor: pointer;
        color: white;
    }
}

//Results

.results-box {
    padding-top: $results-box-padding-top;
}
