@import "../../variables";


.bottom-player-items{
    text-align: center;
    color: white;

    a, i, input {
        font-size: 20px;
        margin: 10px;
    }
    i:hover{
        color: $theme-primary-color;
        cursor: pointer;
    }
}

.track-progress-container {
    height: 6px;
    position: relative;
    margin-bottom: 3px;
    .track-progress {
        height: 6px;
        background-color: $theme-primary-color;
    }

    background-color: lighten($theme-background-color, 20);
}


.track-progress-container:hover {
    cursor: pointer;
}
.player-container{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
